<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heestagram</title>
</head>
<body>
    <h1>New Post</h1>

    <form action="{% url 'posts:create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- <h2>작성자</h2>
        <input type="text" name="author"> -->

        <h2>본문</h2>
        <textarea name="body" id="" cols="40" rows="10"></textarea>

        <div class="form-group">
            <label for="image">이미지</label>
            <input type="file" class="form-control-file" id="image" name="image">
        </div>

        <br>
        <input type="submit" value="작성하기">
    </form>

    <a href="{% url 'posts:index' %}">목록</a>
</body>
</html>